@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Montserrat, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 53%, 0.766);
}

::-webkit-scrollbar-thumb {
  background: rgb(69 141 237);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@layer components {
  .choosen {
    @apply w-40  h-12 flex justify-center items-center border-b-2 border-httpx  transition-colors duration-300 text-sm sm:text-base;
  }
  .notchoosen {
    @apply w-40  h-12 flex justify-center items-center  text-sm sm:text-base;
  }
}
